extends common/layout
block content
  div(class="container")
    div(class='div-fluid show-grid')
      div(class='row')
          div(class='span8')
            if(!session.is_login)
              div(class='well row')
                h4 总有一些不经意的时光，需要被镌刻.
                h5 此时已有#{usersCount}位朋友写下了#{diariesCount}件小事，#{privacyCount}个秘密，#{todoCount}条心愿
            div(class='row')
              h4 最新动态
              hr 
              include package/lastfeed
          div(class='span4') 
            if(session.is_login)
              h4 欢迎回来,#{session.userdata.nick}!
              hr
              div(id='J_UserBar')
                div(class='btn-group hot',id='J_UserBar')
                  a(class="btn btn-primary",href='/diary/write',title='写日记') 写日记
                  a(class="btn",href='/notebook',title='管理日记本') 管理日记本
                  a(class="btn",href='/todo',title='管理Todo') 管理TODO
              hr
            else
              div(class='well')
                include package/smallLogin
            div(class='hot')
              h5 公告 
              p  
                a(href="http://www.tuer.me/diary/2474",target="_blank") 举报非法或广告日记。
              p  
                a(href="https://github.com/xiaojue/tuer.me/blob/master/docs/index.md",target="_blank") 兔耳API已上线。
              p 
                a(href="http://www.tuer.me/diary/1642",target="_blank") 头像更换不了的说明。
            include package/hot
            hr
            script(type="text/javascript")
              google_ad_client = "ca-pub-7564906659770902";
              google_ad_slot = "9462119232";
              google_ad_width = 300;
              google_ad_height = 250;
            script(type="text/javascript",src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
    include common/footer
  if(session.is_login)
    script
      lithe.use('mods/index.min.js?t=20130320');
