extends common/layout
block content
  div(class="container")
    div(class='div-fluid show-grid')
      div(class='row')
          div(class='span8')
            if(!session.is_login)
              div(class='well row')
                h3 兔耳日记 
                  small 留住身边的美好,让生活慢下来
                h5 已经有#{usersCount}位朋友写下了#{diariesCount}件小事，#{privacyCount}个秘密，#{todoCount}条心愿.
            div(class='row')
              h4 最新日记 
              hr 
              include package/lastfeed
          div(class='span4') 
            if(session.is_login)
              h4 欢迎回来,#{session.userdata.nick}!
              hr
              div(id='J_UserBar')
                div(class='btn-group hot',id='J_UserBar')
                  a(class="btn btn-primary",href='/diary/write',title='写日记') 写日记
                  a(class="btn",href='/notebook',title='管理日记本') 管理日记本
                  a(class="btn",href='/todo',title='管理Todo') 管理TODO
              hr
            else
              div(class='well')
                include package/smallLogin
            include package/hot
    include common/footer
  if(session.is_login)
    script
      seajs.use('mods/index.js?t=20121023');
