extends ../common/layout
block content
  link(href="/jquery.qeditor/font-awesome.min.css",rel="stylesheet")
  link(href="/jquery.qeditor/jquery.qeditor.css",rel="stylesheet")
  script(src="/jquery.qeditor/jquery.qeditor.js")
  script.
    window.FileAPI = {staticPath:'/FileAPI/dist/'};
  script(src="/FileAPI/dist/FileAPI.min.js")
  style.
    .b-button {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      padding: 4px 15px;
      vertical-align: middle;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #f5f5f5;
      background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 49%, #ececec 50%, #eee 100%);
      background: -webkit-linear-gradient(top, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%);
      background: -o-linear-gradient(top, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%);
      background: linear-gradient(to bottom, #fff 0%,#f5f5f5 49%,#ececec 50%,#eee 100%);
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
      .b-button_hover {
        border-color: #fa0;
        box-shadow: 0 0 2px #fa0;
      }

      .b-button__text {
      }

      .b-button__input {
        cursor: pointer;
        opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        top: -10px;
        right: -40px;
        font-size: 50px;
        position: absolute;
      } 
    .textarea {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear .2s, box-shadow linear .2s;
        -moz-transition: border linear .2s, box-shadow linear .2s;
        -o-transition: border linear .2s, box-shadow linear .2s;
        transition: border linear .2s, box-shadow linear .2s;
        padding: 4px 6px;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        vertical-align: middle;
        outline: none;
        height: 400px;
      }
  div(class='container')
    h2 #{session.title}
    hr
    form(enctype='multipart/form-data',class='form-horizontal',id='J_write',action='#{action}',method='post')
      if(action=='/diary/update')
        input(type='hidden',name='id',value='#{diary._id}')
      if(session.error.length)
        div(class='control-group error')
          span(class='help-inline') #{session.error}
      div(class='control-group')
          select(name='bookid')
            each item,i in books
              if(item._id.toString() == diary.notebook)
                option(value="#{item._id}",selected="selected") #{item.name}
              else
                option(value="#{item._id}") #{item.name}
          a(href="/notebook",title="管理我的日记本") &nbsp;&nbsp;管理我的日记本 
      div(class="control-group")
         label(class="inline")
           span 心情: 
             if(diary.mood)
               input(style="width:90px;",type="text",value="#{diary.mood}",name="mood",placeholder="喜,怒,哀,乐...",maxlength="10")
             else
               input(style="width:90px;",type="text",value="",name="mood",placeholder="喜,怒,哀,乐...",maxlength="10")
      div(class="control-group")
         label(class="inline")
           span 天气: 
             if(diary.weather)
               input(style="width:90px;",type="text",value="#{diary.weather}",name="weather",placeholder="阴,晴,雨,风...",maxlength="10")
             else
               input(style="width:90px;",type="text",value="",name="weather",placeholder="阴,晴,雨,风...",maxlength="10")
      div(class="control-group")
            label 地点: 
              if(diary.location)
                input(type="text",name="location",placeholder="写日记的地点",value="#{diary.location}")
              else
                input(type="text",name="location",placeholder="写日记的地点")
      div(class='control-group')
        textarea(placeholder="日记内容",class="textarea",id='content',name='content',rows='15') #{diary.content}
      div(class='control-group')
          label(class="inline") 
            if(diary.privacy == 1)
              input(name='privacy',type='checkbox',value='1',checked='true') 
            else
              input(name='privacy',type='checkbox',value='1') 
            &nbsp;只有自己可见
          label(class="inline")
            if(diary.forbid == 1)
              input(name='forbid',type='checkbox',value='1',checked='true') 
            else
              input(name='forbid',type='checkbox',value='1') 
            &nbsp;不允许被回复 
      div(class='control-group')
        p 日记最多可写2200个字.
      div(class='control-group')
          button(type='submit',class='btn btn-primary') #{session.title}
    include ../common/footer
    div(id="uploadpic",role="dialog",class="modal hide fade",tabindex="-1",aria-hidden="true",aria-labelledby="uploadpic")
      div(class="modal-header")
        h3 选择上传图片
      div(class="modal-body")
        div(class="b-button",id="btn-body",style="margin-right:10px;")
          div(class="b-button__txt") 选择文件
          input(class="b-button__input",id="choose",name="file",type="file")
        button(class="btn btn-primary",type="button",id="upbtn") 上传并插入
        p(id="log",style="margin-top:10px;color:green;")
        div(id="images")
      div(class="modal-footer")
        button(class="btn",data-dismiss="modal",aria-hidden="true") 取消
    script.
      var editor = $('#content').qeditor({});
      function uploadSucces(ret){
        var input = $('#choose')[0];
        $('#btn-body').append(input);
        clear(input);
        if(ret.error){
          alert(ret.error);
        }else{
          QEditor.action(editor,'insertimage',ret.url+'?imageView2/0/w/600/interlace/1');
          $('#uploadpic').modal('hide');
        }
      }
      var filetype;
      function clear(input){
        FileAPI.reset(input);
        $('#uploadForm').remove(); 
        $('#log').html('');
        $('#images').html('');
      }
      $('#upbtn').click(function(){
            if(filetype){
              $.ajax({
                url:'/getqiniutoken',
                dataType:'json',
                success:function(json){
                  var iframe = $('<iframe name="qiniu">');
                  var form = $('<form id="uploadForm" target="qiniu" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data"></form>');
                  form.append('<input name="token" type="hidden" value="'+json.token+'">');
                  form.append(iframe);
                  form.append($('#choose'));
                  $('body').append(form);
                  form.submit();
                  $('#log').html('正在上传中...');
                },
                data:{
                  extname:filetype
                }
              });
            }else{
                alert('请先选择一张图片');
            }
      });
      $('#choose').change(function(evt){
          filetype = null;
          FileAPI.filterFiles(FileAPI.getFiles(evt), function (file/**Object*/, info/**Object*/){
            if(/^image/.test(file.type) && file.size < 1 * FileAPI.MB){
                return true;
            }
            return false;
          }, function (list/**Array*/, other/**Array*/){
              if( list.length ){
                var file = list[0];
                FileAPI.getInfo(file,function(err,info){
                  filetype = file.type;
                  FileAPI.Image(file).preview(200,200).get(function (err, img){
                    $('#images').html(img);
                  });
                });
              }else{
                alert('请选择小于1MB的图片文件上传');
              }
          });
      });
