extends ../../common/adminlayout
block content
  div(class="container")
    div(class='div-fluid show-grid')
      div(class="row")
        div(class="span2")
            ul(class="nav nav-pills nav-stacked")
                li
                    a(href="/admin/users") 普通用户管理
                li
                    a(href="/admin/admins") 管理员列表
                li(class="active")
                    a(href="/admin/black") 黑名单列表
        div(class="span10")
            h5 管理员列表
            if(usersCount > 0)
             each item,i in users
               div(class="media")
                  a(class="pull-left",style="margin:10px;",href="/user/profile/#{item.id}",target="_blank")
                    img(class="media-object img-rounded",src="#{item.avatarUrl}")
                  div(class="media-body")
                    h6 #{item.nick}
                    span(class="label label-info",style="margin-right:5px;") #{item.created_at}
                    span(class="label label-important",style="margin-right:5px;") #{item.accounts}
                    if(item.about)
                      span(class="label label-success",style="margin-right:5px;") #{item.about}
                    if(item.profile !== 'nothing yet')
                      span(class="label label-inverse",style="margin-right:5px;") #{item.profile}
                    a(class="label label-warning",href="/admin/black/remove/#{item.id}") 取消黑名单
             !{pag}
            else
             p 暂时还没有管理员.
    include ../../common/adminfooter
